<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" *ngIf="openSidebar" class="px-2">
    <div class="sidebar-header">
      <h3>Configuración</h3>
    </div>

    <p>Drowdown aqui</p>
    <div style="height: 35px;">
      <kendo-dropdownlist [data]="listTable"> </kendo-dropdownlist>
    </div>

  </nav>

  <!-- Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="openSidebar = !openSidebar">
          <i class="fas fa-align-left"></i>
          <span>Open sidebar</span>
        </button>
      </div>
    </nav>

    <!--Routing-->
    <div class="w-100 h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
