.content {
  padding: 20px 10px 20px 10px;
  width: 550px;
  height: 380px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, .05);

  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.button-heigth {
  height: 45px;
}

